<router-outlet></router-outlet>

<ng-template #dialog>
    <h1 mat-dialog-title>Neues Update verfügbar!</h1>
    <div mat-dialog-content>
        <p>Neue Version {{newVersion}} verfügbar. Soll die neue Version geladen werden?</p>
        <p>Infos zum Update {{notes}}</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true">Nein Danke!</button>
        <button mat-button (click)="updateServiceWorker()" cdkFocusInitial>Yeahh!</button>
    </div>
</ng-template>